@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat Alternates', sans-serif;
	}
	body{
		background-image: linear-gradient(-45deg, #2d2d2d, #2d2723);
		background-size: 100vw 100vh;
		background-attachment: fixed;

	}
	
	p{
		color: white;
		font-size: 20px;
		font-family: 'Montserrat Alternates', sans-serif;
	}
	
	/*Estilos para el encabezado*/
	.header{
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;left: 0;
	}
	.container{
		width: 90%;
		max-width: 1200px;
		margin: auto;
	}
	.container .btn-menu, .logo{
		float: left;
		line-height:100px;
	}
	.container .btn-menu label{
		color: #fff;
		font-size: 25px;
		cursor: pointer;
        float: left;
	}
	.logo h1{
		color: #fff;
		font-weight: 400;
		font-size: 16px;
		margin-left: 10px;
        float: left;
	}
	.container .menu{
		float: right;
		line-height: 100px;
	}
	.container .menu .a{
		display: inline-block;
		padding: 15px;
		line-height: normal;
		text-decoration: none;
		color: #fff;
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 15px;
		margin-right: 5px;
	}
	.container .menu .a:hover{
		border-bottom: 2px solid #ffffff;
		padding-bottom: 5px;
	}
	/*Fin de Estilos para el encabezado*/

	/*Menù lateral*/
	#btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		background: rgb(0, 0, 0);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: #1c1c1c;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #ffffff;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #000000;
		background: #1f1f1f;
		color: #ffffff;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}
    /*fin menu lateral*/
    /*imagen principal*/
	.galeria{
		padding-top: 70px;
		padding-bottom:50px ;
	}

	.imagen-principal img{
		width: 100%;
		object-fit: cover;
	}
	.la{
		width: 100px;
		height: 70px;
	}
	.a{
		color: black;
	}
	.imagen-principal{
		padding-top: 80px;
	}